<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceweb.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceweb.model.Member">
    <id column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="member_pwd" jdbcType="VARCHAR" property="memberPwd" />
    <result column="pwd_expiry_time" jdbcType="DATE" property="pwdExpiryTime" />
    <result column="tel_no" jdbcType="VARCHAR" property="telNo" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="photograph" jdbcType="VARCHAR" property="photograph" />
    <result column="registration_date" jdbcType="DATE" property="registrationDate" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="recommend" jdbcType="INTEGER" property="recommend" />
    <result column="integration" jdbcType="INTEGER" property="integration" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="inactive_date" jdbcType="DATE" property="inactiveDate" />
    <result column="grade_code" jdbcType="VARCHAR" property="gradeCode" />
    <result column="grade_expiry_date" jdbcType="DATE" property="gradeExpiryDate" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="bu_code" jdbcType="VARCHAR" property="buCode" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="DATE" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="DATE" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>
  <sql id="Base_Column_List">
    member_id, member_name, member_pwd, pwd_expiry_time, tel_no, email, remarks, photograph, 
    registration_date, source, recommend, integration, is_active, inactive_date, grade_code, 
    grade_expiry_date, open_id, access_token, bu_code, created_by, created_date, last_updated_by, 
    last_updated_date, row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member
    where member_id = #{memberId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from member
    where member_id = #{memberId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceweb.vo.DeleteVO">
    delete from member
    where member_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceweb.model.Member">
    insert into member (member_id, member_name, member_pwd, 
      pwd_expiry_time, tel_no, email, 
      remarks, photograph, registration_date, 
      source, recommend, integration, 
      is_active, inactive_date, grade_code, 
      grade_expiry_date, open_id, access_token, 
      bu_code, created_by, created_date, 
      last_updated_by, last_updated_date, row_id
      )
    values (#{memberId,jdbcType=INTEGER}, #{memberName,jdbcType=VARCHAR}, #{memberPwd,jdbcType=VARCHAR}, 
      #{pwdExpiryTime,jdbcType=DATE}, #{telNo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{photograph,jdbcType=VARCHAR}, #{registrationDate,jdbcType=DATE}, 
      #{source,jdbcType=VARCHAR}, #{recommend,jdbcType=INTEGER}, #{integration,jdbcType=INTEGER}, 
      #{isActive,jdbcType=BIT}, #{inactiveDate,jdbcType=DATE}, #{gradeCode,jdbcType=VARCHAR}, 
      #{gradeExpiryDate,jdbcType=DATE}, #{openId,jdbcType=VARCHAR}, #{accessToken,jdbcType=VARCHAR}, 
      #{buCode,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=DATE}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=DATE}, #{rowId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceweb.model.Member">
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        member_id,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="memberPwd != null">
        member_pwd,
      </if>
      <if test="pwdExpiryTime != null">
        pwd_expiry_time,
      </if>
      <if test="telNo != null">
        tel_no,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="photograph != null">
        photograph,
      </if>
      <if test="registrationDate != null">
        registration_date,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="recommend != null">
        recommend,
      </if>
      <if test="integration != null">
        integration,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="inactiveDate != null">
        inactive_date,
      </if>
      <if test="gradeCode != null">
        grade_code,
      </if>
      <if test="gradeExpiryDate != null">
        grade_expiry_date,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="accessToken != null">
        access_token,
      </if>
      <if test="buCode != null">
        bu_code,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      <if test="rowId != null">
        row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberPwd != null">
        #{memberPwd,jdbcType=VARCHAR},
      </if>
      <if test="pwdExpiryTime != null">
        #{pwdExpiryTime,jdbcType=DATE},
      </if>
      <if test="telNo != null">
        #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="photograph != null">
        #{photograph,jdbcType=VARCHAR},
      </if>
      <if test="registrationDate != null">
        #{registrationDate,jdbcType=DATE},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        #{recommend,jdbcType=INTEGER},
      </if>
      <if test="integration != null">
        #{integration,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="inactiveDate != null">
        #{inactiveDate,jdbcType=DATE},
      </if>
      <if test="gradeCode != null">
        #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="gradeExpiryDate != null">
        #{gradeExpiryDate,jdbcType=DATE},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null">
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="buCode != null">
        #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceweb.model.Member">
    update member
    <set>
      <if test="memberName != null">
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberPwd != null">
        member_pwd = #{memberPwd,jdbcType=VARCHAR},
      </if>
      <if test="pwdExpiryTime != null">
        pwd_expiry_time = #{pwdExpiryTime,jdbcType=DATE},
      </if>
      <if test="telNo != null">
        tel_no = #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="photograph != null">
        photograph = #{photograph,jdbcType=VARCHAR},
      </if>
      <if test="registrationDate != null">
        registration_date = #{registrationDate,jdbcType=DATE},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        recommend = #{recommend,jdbcType=INTEGER},
      </if>
      <if test="integration != null">
        integration = #{integration,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="inactiveDate != null">
        inactive_date = #{inactiveDate,jdbcType=DATE},
      </if>
      <if test="gradeCode != null">
        grade_code = #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="gradeExpiryDate != null">
        grade_expiry_date = #{gradeExpiryDate,jdbcType=DATE},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null">
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=DATE},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where member_id = #{memberId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceweb.model.Member">
    update member
    <set>
      <if test="memberName != null">
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberPwd != null">
        member_pwd = #{memberPwd,jdbcType=VARCHAR},
      </if>
      <if test="pwdExpiryTime != null">
        pwd_expiry_time = #{pwdExpiryTime,jdbcType=DATE},
      </if>
      <if test="telNo != null">
        tel_no = #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="photograph != null">
        photograph = #{photograph,jdbcType=VARCHAR},
      </if>
      <if test="registrationDate != null">
        registration_date = #{registrationDate,jdbcType=DATE},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        recommend = #{recommend,jdbcType=INTEGER},
      </if>
      <if test="integration != null">
        integration = #{integration,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="inactiveDate != null">
        inactive_date = #{inactiveDate,jdbcType=DATE},
      </if>
      <if test="gradeCode != null">
        grade_code = #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="gradeExpiryDate != null">
        grade_expiry_date = #{gradeExpiryDate,jdbcType=DATE},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null">
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where member_id = #{memberId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceweb.model.Member">
    update member
    set member_name = #{memberName,jdbcType=VARCHAR},
      member_pwd = #{memberPwd,jdbcType=VARCHAR},
      pwd_expiry_time = #{pwdExpiryTime,jdbcType=DATE},
      tel_no = #{telNo,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      photograph = #{photograph,jdbcType=VARCHAR},
      registration_date = #{registrationDate,jdbcType=DATE},
      source = #{source,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=INTEGER},
      integration = #{integration,jdbcType=INTEGER},
      is_active = #{isActive,jdbcType=BIT},
      inactive_date = #{inactiveDate,jdbcType=DATE},
      grade_code = #{gradeCode,jdbcType=VARCHAR},
      grade_expiry_date = #{gradeExpiryDate,jdbcType=DATE},
      open_id = #{openId,jdbcType=VARCHAR},
      access_token = #{accessToken,jdbcType=VARCHAR},
      bu_code = #{buCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=DATE},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=DATE},
      row_id = #{rowId,jdbcType=VARCHAR}
    where member_id = #{memberId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="memberId != null">
         and member_id = #{memberId,jdbcType=INTEGER}
      </if>
      <if test="memberName != null">
         and member_name = #{memberName,jdbcType=VARCHAR}
      </if>
      <if test="memberPwd != null">
         and member_pwd = #{memberPwd,jdbcType=VARCHAR}
      </if>
      <if test="pwdExpiryTime != null">
         and pwd_expiry_time = #{pwdExpiryTime,jdbcType=DATE}
      </if>
      <if test="telNo != null">
         and tel_no = #{telNo,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
         and email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="remarks != null">
         and remarks = #{remarks,jdbcType=VARCHAR}
      </if>
      <if test="photograph != null">
         and photograph = #{photograph,jdbcType=VARCHAR}
      </if>
      <if test="registrationDate != null">
         and registration_date = #{registrationDate,jdbcType=DATE}
      </if>
      <if test="source != null">
         and source = #{source,jdbcType=VARCHAR}
      </if>
      <if test="recommend != null">
         and recommend = #{recommend,jdbcType=INTEGER}
      </if>
      <if test="integration != null">
         and integration = #{integration,jdbcType=INTEGER}
      </if>
      <if test="isActive != null">
         and is_active = #{isActive,jdbcType=BIT}
      </if>
      <if test="inactiveDate != null">
         and inactive_date = #{inactiveDate,jdbcType=DATE}
      </if>
      <if test="gradeCode != null">
         and grade_code = #{gradeCode,jdbcType=VARCHAR}
      </if>
      <if test="gradeExpiryDate != null">
         and grade_expiry_date = #{gradeExpiryDate,jdbcType=DATE}
      </if>
      <if test="openId != null">
         and open_id = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="accessToken != null">
         and access_token = #{accessToken,jdbcType=VARCHAR}
      </if>
      <if test="buCode != null">
         and bu_code = #{buCode,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and created_date = #{createdDate,jdbcType=DATE}
      </if>
      <if test="lastUpdatedBy != null">
         and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastUpdatedDate != null">
         and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
      </if>
      <if test="rowId != null">
         and row_id = #{rowId,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select * from member
  </select>
  <select id="getList" parameterType="com.eshop.serviceweb.model.Member" resultMap="BaseResultMap">
    select * from member
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceweb.model.Member" resultMap="BaseResultMap">
    select * from member
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceweb.model.Member" resultMap="BaseResultMap" useCache="false">
    select * from member
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceweb.model.Member" resultMap="BaseResultMap" useCache="false">
    select * from member
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceweb.redis.MybatisRedisCache" />
</mapper>