<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceweb.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceweb.model.UserRole">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="DATE" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="DATE" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, role_id, created_by, created_date, last_updated_by, last_updated_date, row_id
  </sql>
  <select id="getOne" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_role
    where user_id = #{userId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="map">
    delete from user_role
    where user_id = #{userId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceweb.vo.DeleteVO">
    delete from user_role
    where user_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      and role_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceweb.model.UserRole">
    insert into user_role (user_id, role_id, created_by, 
      created_date, last_updated_by, last_updated_date, 
      row_id)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=DATE}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=DATE}, 
      #{rowId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceweb.model.UserRole">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      <if test="rowId != null">
        row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceweb.model.UserRole">
    update user_role
    <set>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=DATE},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceweb.model.UserRole">
    update user_role
    <set>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      and role_id = #{roleId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceweb.model.UserRole">
    update user_role
    set created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=DATE},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=DATE},
      row_id = #{rowId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="userId != null">
         and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="roleId != null">
         and role_id = #{roleId,jdbcType=INTEGER}
      </if>
      <if test="createdBy != null">
         and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and created_date = #{createdDate,jdbcType=DATE}
      </if>
      <if test="lastUpdatedBy != null">
         and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastUpdatedDate != null">
         and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
      </if>
      <if test="rowId != null">
         and row_id = #{rowId,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select * from user_role
  </select>
  <select id="getList" parameterType="com.eshop.serviceweb.model.UserRole" resultMap="BaseResultMap">
    select * from user_role
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceweb.model.UserRole" resultMap="BaseResultMap">
    select * from user_role
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceweb.model.UserRole" resultMap="BaseResultMap" useCache="false">
    select * from user_role
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceweb.model.UserRole" resultMap="BaseResultMap" useCache="false">
    select * from user_role
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceweb.redis.MybatisRedisCache" />
</mapper>