<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceweb.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceweb.model.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="dispaly_name" jdbcType="VARCHAR" property="dispalyName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="pwd_expiry_time" jdbcType="DATE" property="pwdExpiryTime" />
    <result column="tel_no" jdbcType="VARCHAR" property="telNo" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="is_locked" jdbcType="BIT" property="isLocked" />
    <result column="lock_date" jdbcType="DATE" property="lockDate" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="inactive_date" jdbcType="DATE" property="inactiveDate" />
    <result column="bu_code" jdbcType="VARCHAR" property="buCode" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="DATE" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="DATE" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, dispaly_name, user_pwd, pwd_expiry_time, tel_no, remarks, is_locked, 
    lock_date, is_active, inactive_date, bu_code, created_by, created_date, last_updated_by, 
    last_updated_date, row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceweb.vo.DeleteVO">
    delete from user
    where user_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceweb.model.User">
    insert into user (user_id, user_name, dispaly_name, 
      user_pwd, pwd_expiry_time, tel_no, 
      remarks, is_locked, lock_date, 
      is_active, inactive_date, bu_code, 
      created_by, created_date, last_updated_by, 
      last_updated_date, row_id)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{dispalyName,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR}, #{pwdExpiryTime,jdbcType=DATE}, #{telNo,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{isLocked,jdbcType=BIT}, #{lockDate,jdbcType=DATE}, 
      #{isActive,jdbcType=BIT}, #{inactiveDate,jdbcType=DATE}, #{buCode,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=DATE}, #{lastUpdatedBy,jdbcType=VARCHAR}, 
      #{lastUpdatedDate,jdbcType=DATE}, #{rowId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceweb.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="dispalyName != null">
        dispaly_name,
      </if>
      <if test="userPwd != null">
        user_pwd,
      </if>
      <if test="pwdExpiryTime != null">
        pwd_expiry_time,
      </if>
      <if test="telNo != null">
        tel_no,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="isLocked != null">
        is_locked,
      </if>
      <if test="lockDate != null">
        lock_date,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="inactiveDate != null">
        inactive_date,
      </if>
      <if test="buCode != null">
        bu_code,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      <if test="rowId != null">
        row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="dispalyName != null">
        #{dispalyName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="pwdExpiryTime != null">
        #{pwdExpiryTime,jdbcType=DATE},
      </if>
      <if test="telNo != null">
        #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="isLocked != null">
        #{isLocked,jdbcType=BIT},
      </if>
      <if test="lockDate != null">
        #{lockDate,jdbcType=DATE},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="inactiveDate != null">
        #{inactiveDate,jdbcType=DATE},
      </if>
      <if test="buCode != null">
        #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceweb.model.User">
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="dispalyName != null">
        dispaly_name = #{dispalyName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="pwdExpiryTime != null">
        pwd_expiry_time = #{pwdExpiryTime,jdbcType=DATE},
      </if>
      <if test="telNo != null">
        tel_no = #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="isLocked != null">
        is_locked = #{isLocked,jdbcType=BIT},
      </if>
      <if test="lockDate != null">
        lock_date = #{lockDate,jdbcType=DATE},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="inactiveDate != null">
        inactive_date = #{inactiveDate,jdbcType=DATE},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=DATE},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceweb.model.User">
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="dispalyName != null">
        dispaly_name = #{dispalyName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="pwdExpiryTime != null">
        pwd_expiry_time = #{pwdExpiryTime,jdbcType=DATE},
      </if>
      <if test="telNo != null">
        tel_no = #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="isLocked != null">
        is_locked = #{isLocked,jdbcType=BIT},
      </if>
      <if test="lockDate != null">
        lock_date = #{lockDate,jdbcType=DATE},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="inactiveDate != null">
        inactive_date = #{inactiveDate,jdbcType=DATE},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceweb.model.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      dispaly_name = #{dispalyName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      pwd_expiry_time = #{pwdExpiryTime,jdbcType=DATE},
      tel_no = #{telNo,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      is_locked = #{isLocked,jdbcType=BIT},
      lock_date = #{lockDate,jdbcType=DATE},
      is_active = #{isActive,jdbcType=BIT},
      inactive_date = #{inactiveDate,jdbcType=DATE},
      bu_code = #{buCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=DATE},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=DATE},
      row_id = #{rowId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="userId != null">
         and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="userName != null">
         and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="dispalyName != null">
         and dispaly_name = #{dispalyName,jdbcType=VARCHAR}
      </if>
      <if test="userPwd != null">
         and user_pwd = #{userPwd,jdbcType=VARCHAR}
      </if>
      <if test="pwdExpiryTime != null">
         and pwd_expiry_time = #{pwdExpiryTime,jdbcType=DATE}
      </if>
      <if test="telNo != null">
         and tel_no = #{telNo,jdbcType=VARCHAR}
      </if>
      <if test="remarks != null">
         and remarks = #{remarks,jdbcType=VARCHAR}
      </if>
      <if test="isLocked != null">
         and is_locked = #{isLocked,jdbcType=BIT}
      </if>
      <if test="lockDate != null">
         and lock_date = #{lockDate,jdbcType=DATE}
      </if>
      <if test="isActive != null">
         and is_active = #{isActive,jdbcType=BIT}
      </if>
      <if test="inactiveDate != null">
         and inactive_date = #{inactiveDate,jdbcType=DATE}
      </if>
      <if test="buCode != null">
         and bu_code = #{buCode,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and created_date = #{createdDate,jdbcType=DATE}
      </if>
      <if test="lastUpdatedBy != null">
         and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastUpdatedDate != null">
         and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
      </if>
      <if test="rowId != null">
         and row_id = #{rowId,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select * from user
  </select>
  <select id="getList" parameterType="com.eshop.serviceweb.model.User" resultMap="BaseResultMap">
    select * from user
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceweb.model.User" resultMap="BaseResultMap">
    select * from user
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceweb.model.User" resultMap="BaseResultMap" useCache="false">
    select * from user
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceweb.model.User" resultMap="BaseResultMap" useCache="false">
    select * from user
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceweb.redis.MybatisRedisCache" />
</mapper>